nav {
  background-color: var(--blue);
  color: var(--white);
  padding: 10px 0;
  font-size: 24px;
}

.container {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  position: relative;
  left: 0;
  margin-left: 20px;
  padding: 0;
  flex: 1 0 100%;
  text-align: center;
}

.links {
  flex: 1 0 100%;
  text-align: center;
  margin: 10px 0;
}

.links a {
  color: var(--white);
  text-decoration: none;
  margin: 0 80px;
}
.links a:hover {
  color: var(--gold);
}

.login {
  flex: 1 0 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .logo,
  .links,
  .login {
    flex: none;
  }

  .logo {
    text-align: left;
    margin-left: 20px;
  }

  .login {
    text-align: right;
  }
}
