@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

:root {
  --blue: #053b6d;
  --gold: #ffb72d;
  --white: #fbfbfb;
  --black: #000;
  --grey: #acacac;
}

* {
  box-sizing: border-box;
  font-family: "Luckiest Guy", cursive;
}

body {
  margin: 0;
  padding: 0;
}

.banner {
  background-color: var(--blue);
  display: flex;
  height: 400px;
}

.column:first-child {
  flex: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
}

.column:last-child {
  flex: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column:first-child h1 {
  font-size: 112px;
  margin: 0;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--white);
  color: var(--black);
  border: none;
  border-radius: 15px;
  width: 445px;
  height: 77px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
}

button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.subject-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  height: 400px;
}
.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 40px;
  margin: auto;
}

.categories a {
  text-decoration: none;
}

.category {
  background-image: linear-gradient(
    rgba(255, 183, 45, 0.9),
    rgba(255, 183, 45, 2)
  );
  border: 2px solid var(--black);
  display: flex;
  align-items: center;
  padding: 10px;
  width: 375px;
  height: 125px;
  border-radius: 15px;
  font-size: 32px;
}

.category img {
  margin-right: 10px;
}
.more {
  grid-column: 1/2;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-bottom: 80px;
}

.more a {
  color: var(--black);
  text-decoration: underline;
}

.more a:hover {
  color: var(--gold);
}

.category p {
  text-align: center;
  flex-grow: 1;
}
.login-container {
  background-color: var(--blue);
  height: 950px;
  display: flex;
  justify-content: center; /* Wyśrodkowanie zawartości poziomo */
  align-items: center; /* Wyśrodkowanie zawartości pionowo */
}

.column-40,
.column-60 {
  display: flex;
  flex-direction: column; /* Ustawienie układu kolumnowego */
  align-items: center; /* Wyśrodkowanie zawartości poziomo */
}

.column-40 {
  width: 50%; /* Zajmowanie 40% szerokości kontenera */
}

.column-60 {
  width: 50%; /* Zajmowanie 60% szerokości kontenera */
}

.column-60 h1 {
  color: var(--white);
  font-size: 64px;
  margin: 0;
  text-align: center;
  align-self: center;
}

.column-60 label {
  color: var(--white);
  font-size: 32px;
  margin-bottom: 10px;
  align-self: self-start;
}

form {
  display: flex;
  flex-direction: column; /* Ustawienie układu kolumnowego */
  gap: 25px; /* Odstęp między elementami */
  align-items: center; /* Wyśrodkowanie zawartości poziomo */
  width: 80%;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  height: 55px;
  align-self: flex-start;
  border: 2px solid var(--grey);
  border-radius: 3px;
}

button[type="submit"] {
  background-color: var(--gold);
  padding: 5px 10px;
  color: var(--white);
  text-align: center;
  font-size: 32px;
}

span {
  color: var(--grey);
  font-size: 15px;
  align-self: flex-start;
}
span a {
  color: var(--gold);
  text-decoration: underline;
}
.checkbox-container {
  display: flex;
  align-self: self-start;
}

.hidden-checkbox {
  display: none;
}

.styled-checkbox {
  width: 20px;
  height: 20px;
  background: var(--blue);
  border: var(--white) 2px solid;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

.styled-checkbox:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  background: var(--gold);
  opacity: 0;
  transition: opacity 0.3s;
}

.hidden-checkbox:checked + .styled-checkbox:after {
  opacity: 1;
}
