@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

:root {
  --blue: #053b6d;
  --gold: #ffb72d;
  --white: #fbfbfb;
  --black: #000;
  --grey: #acacac;
  --container-padding: 40px;
  --font-24: 24px;
  --font-32: 32px;
  --space-30: 30px;
  --space-50: 50px;
}

* {
  box-sizing: border-box;
  font-family: "Luckiest Guy", cursive;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
main {
  flex: 1;
}
.success {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 52px;
}
.container {
  clear: both;
  margin: 0 auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  max-width: 1670px;
  width: 100%;
}

.header-main {
  background-color: var(--blue);
  color: var(--white);
  font-size: var(--font-24);
  width: 100%;
}
.header-main-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 106px;
}
.heading-right {
  display: flex;
  align-items: center;
}
#main-menu > ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
#main-menu > ul > li {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-right: var(--space-50);
}
#main-menu > ul > li > a {
  color: var(--white);
  text-decoration: none;
  padding: 5px 15px;
  font-size: var(--font-24);
  display: block;
  text-align: center;
  transition: all 0.3s ease;
}
#main-menu > ul > li > a:hover {
  color: var(--gold);
}
.logo {
  padding: 5px 0;
}
.right {
  display: flex;
  align-items: center;
}
.right a {
  text-decoration: none;
}
.right a img {
  width: 47px;
  height: 47px;
  margin-right: 20px;
}
.right a:nth-child(2) img {
  width: 67px;
  height: 47px;
  margin-right: 0;
}

footer {
  width: 100%;
}
.footer-bar {
  padding: 10px 0;
  background-color: var(--blue);
  color: var(--white);
}
.copyright {
  margin-right: var(--space-50);
}
.copyright p {
  font-size: var(--font-24);
}
.footer-bar-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.footer-bar-links {
  display: flex;
  flex-wrap: nowrap;
}
.footer-bar-links > li {
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  margin-right: var(--space-30);
}
.footer-bar-links > li::after {
  content: "";
  margin-left: 5px;
  margin-bottom: 3px;
  color: var(--gold);
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: var(--white);
}
.footer-bar-links > li > a {
  color: var(--white);
  font-size: var(--font-24);
  transition: all 0.3s ease;
}
.footer-bar-links > li:hover > a {
  color: var(--gold);
}

.banner {
  background-color: var(--blue);
}
.banner-content {
  display: flex;
  flex-direction: row;
}
.banner-text {
  flex: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: var(--white);
}
.banner-text h1 {
  font-weight: 500;
  font-size: 96px;
  text-align: center;
  margin: 0;
}
.banner-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 15px;
  background-color: var(--white);
  padding: 15px 40px;
  margin: 20px 0;
  text-decoration: none;
  transition: all 0.3s ease;
}
.banner-btn:hover {
  background-color: var(--gold);
}
.banner-btn:hover span * {
  fill: var(--black);
}

.banner-btn span {
  display: flex;
  align-items: center;
  font-size: var(--font-24);
  color: var(--black);
}
.banner-btn span * {
  transition: all 0.3s ease;
}
.banner-btn span svg {
  margin-left: 20px;
}

.banner-img {
  flex: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subject-container {
  width: 100%;
  height: auto;
}

.subject-content {
  display: flex;
  flex-direction: column;
}
.subject-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 60px;
}
.subjects-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 60px;
}
.subject-item {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: calc(33.33% - 40px);
  padding: 20px;
  border: 2px solid var(--black);
  border-radius: 15px;
  min-height: 128px;
  background-color: var(--gold);
  margin: 20px 40px 20px 0;
  text-decoration: none;
  transition: all 0.3s ease;
}
.subject-item:nth-child(3n + 3) {
  margin-right: 0;
}
.subject-item img {
  margin-right: 20px;
}

.subject-item span {
  text-align: center;
  font-size: var(--font-24);
  margin: auto 0 auto 0;
  color: var(--black);
}

.subject-item:hover {
  background-color: var(--white);
}

.more-btn {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 60px;
}

.more-btn span {
  display: flex;
  align-items: center;
  font-size: var(--font-24);
  color: var(--black);
  text-decoration: underline gray;
  transition: all 0.3s ease;
}
.more-btn:hover span {
  color: var(--gold);
  text-decoration: underline var(--black);
}

.login-container,
.register-container {
  background-color: var(--blue);
  width: 100%;
  min-height: 780px;
  display: flex;
  align-items: center;
}
.login-form-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.register-form-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login-img,
.login-form,
.register-img,
.register-form {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.login-form h1 {
  color: var(--white);
  font-size: 64px;
  font-weight: 500;
  margin: 0 0 var(--space-30) 0;
  text-align: center;
  align-self: center;
}
.register-form h1 {
  color: var(--white);
  font-size: 64px;
  font-weight: 500;
  margin: 0;
  text-align: center;
  align-self: center;
}

.login-form label {
  color: var(--white);
  font-size: var(--font-32);
  margin-bottom: 10px;
  align-self: self-start;
}
.register-form label {
  color: var(--white);
  font-size: var(--font-32);
  margin-bottom: 10px;
  margin-top: 16px;
  align-self: self-start;
}
form p {
  align-self: self-start;
}

.login-form form {
  display: flex;
  flex-direction: column; /* Ustawienie układu kolumnowego */
  gap: 25px; /* Odstęp między elementami */
  align-items: center; /* Wyśrodkowanie zawartości poziomo */
  width: 80%;
}
.register-form form {
  display: flex;
  flex-direction: column; /* Ustawienie układu kolumnowego */
  align-items: center; /* Wyśrodkowanie zawartości poziomo */
  width: 80%;
}

.login-form input[type="email"],
.login-form input[type="password"],
.login-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"],
.register-form input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  height: 55px;
  align-self: flex-start;
  border: 2px solid var(--grey);
  border-radius: 3px;
}

.login-form input[type="submit"],
.register-form input[type="submit"] {
  background-color: var(--gold);
  padding: 15px 80px;
  border-radius: 10px;
  border: 1px solid var(--black);
  color: var(--white);
  text-align: center;
  font-size: var(--font-32);
}

.login-form form p,
.register-form form p {
  color: var(--grey);
  font-size: 15px;
  align-self: flex-start;
}
.login-form form p a,
.register-form form p a {
  color: var(--gold);
  text-decoration: underline;
}
.checkbox-container {
  display: flex;
  align-self: self-start;
  align-items: center;
}

.hidden-checkbox {
  display: none;
}

.styled-checkbox {
  width: 20px;
  height: 20px;
  background: var(--blue);
  border: var(--white) 2px solid;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

.styled-checkbox:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  background: var(--gold);
  opacity: 0;
  transition: opacity 0.3s;
}

.hidden-checkbox:checked + .styled-checkbox:after {
  opacity: 1;
}

.tutor-form-container,
.tutor-form-content {
  width: 100%;
  margin: 50px 0;
}
.tutor-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 100px;
  width: 100%;
  flex-wrap: nowrap;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(33.33% - 100px);
  height: 570px;
  flex-wrap: nowrap;
}
.form-group label {
  font-size: var(--font-32);
  margin-bottom: 10px;
}
.form-group label span {
  font-size: 16px;
}
.form-group input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  height: 40px;
  border: 2px solid var(--grey);
  border-radius: 3px;
  margin-bottom: 20px;
}
.form-group select {
  padding: 5px;
  font-size: 28px;
  width: 100%;
  height: 60px;
  border: 2px solid var(--grey);
  border-radius: 3px;
  margin-bottom: 20px;
  margin-left: 0;
}
.form-group textarea {
  resize: none;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  height: 100%;
  border: 2px solid var(--grey);
  border-radius: 3px;
}
.communicator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
}
.communicator {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap;
}

.communicator-container label img {
  width: 48px;
  height: 48px;
  margin-right: 20px;
}
.communicator-container input {
  margin-bottom: 0 !important;
}
.tutor-submit {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 20px;
  font-size: var(--font-24);
  background-color: var(--gold);
  color: var(--white);
  border-radius: 10px;
  border: 1px solid var(--black);
  transition: all 0.3s ease;
}
.tutor-submit:hover {
  background-color: var(--white);
  color: black;
}
.profile {
  width: 100%;
}
.profile-h1 a {
  text-decoration: underline var(--gold);
  color: var(--gold);
}
.profile-content {
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 100%;
  flex-wrap: nowrap;
  margin: 80px 0;
}
.profile-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  flex-wrap: nowrap;
}
.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
  flex-wrap: nowrap;
  border: 1px solid var(--black);
  padding: 20px;
}
.profile-info h3 {
  text-align: center;
  align-self: center;
  font-size: var(--font-24);
  margin-top: 0;
}
.profile-info p {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile-info p img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
#calendar {
  max-width: 600px;
  margin: 0;
}
.fc-day-grid-event {
  font-size: 0.8em;
}
.subject-tutors {
  width: 100%;
}
.subject-tutors-header h1 {
  font-size: 36px;
  font-weight: 400;
}
.subject-tutors-header h1 span {
  color: var(--gold);
}
.subject-tutors-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: nowrap;
  margin: 50px 0;
}
.subject-tutors-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
}
.tutor-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 130px;
  width: 100%;
  flex-wrap: nowrap;
  padding: 20px 0;
  margin-bottom: 20px;
}
.tutor-desc {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 60%;
  flex-wrap: nowrap;
  border: 2px solid var(--black);
  border-radius: 15px;
  padding: 30px;
}
.tutor-img img {
  width: 180px;
  height: 180px;
  margin-right: 15px;
}
.tutor-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 200px;
  flex-wrap: nowrap;
}
.tutor-column h3 {
  font-size: var(--font-32);
  margin-top: 0;
  font-weight: 400;
  margin-bottom: 20px;
}
.tutor-column button {
  background-color: var(--gold);
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid var(--black);
  color: var(--white);
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  width: 172px;
  margin-bottom: 10px;
}
.tutor-column a {
  background-color: transparent;
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid var(--black);
  color: var(--black);
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  width: 172px;
}
.tutor-subject {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: nowrap;
  margin-bottom: 25px;
}
.tutor-subject img {
  margin-right: 5px;
}
.tutor-subject span {
  font-size: 18px;
  color: var(--grey);
  margin: 0;
}
.tutor-about-me {
  max-height: 85px;
}
.tutor-about-me p {
  margin: 0;
  font-size: 14px;
  color: var(--black);
}
.tutor-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: nowrap;
  margin-left: 30px;
}
.tutor-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: nowrap;
}
.tutor-rating img {
  margin-right: 5px;
}
.tutor-rating span {
  font-size: 24px;
  margin: 0;
}
.tutor-communicators {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}
.communicator-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 10px;
}
.communicator-column span {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}
.tutor-communicators h4 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}
.tutor-communicators img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}
.teams img {
  height: 48px;
  width: 48px;
}
.tutor-topics {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(40% - 130px);
  height: 267px;
  flex-wrap: nowrap;
  border: 2px solid var(--black);
  border-radius: 15px;
  padding: 30px;
}
.tutor-topics h3 {
  font-size: var(--font-24);
  margin-top: 0;
  font-weight: 400;
  margin-bottom: 0;
}
.tutor-topics ul {
  padding: 0 0 0 20px;
  line-height: 30px;
}
.tutor-topics ul li {
  font-size: 14px;
  font-weight: 300;
}
.tutor-topics ul li:last-child {
  display: none;
}
.hidden {
  display: none;
}
.profile-lessons {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
.profile-lessons h1 {
  align-self: flex-start;
  font-size: 36px;
  font-weight: 400;
}
.lesson-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: nowrap;
  margin-top: 20px;
}
.lesson {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}
.lesson-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  flex-wrap: nowrap;
  padding: 20px;
  border: 2px solid var(--black);
  border-radius: 15px;
  margin-bottom: 20px;
  text-decoration: none;
  text-align: center;
  color: #000;
}
.edit-lesson {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  flex-wrap: nowrap;
  padding: 20px;
  border: 2px solid var(--black);
  border-radius: 15px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #000;
}
.edit-lesson a {
  font-size: 24px;
  color: var(--gold);
  text-decoration: underline;
}
.lesson-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 50%;
  flex-wrap: nowrap;
}
.lesson-title h4 {
  font-size: 24px;
  margin: 0;
}
.lesson-title p {
  color: var(--gold);
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}
.lesson-author {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 30%;
  flex-wrap: nowrap;
}
.lesson-author span {
  font-size: 24px;
  margin: 0;
}
.lesson-author p {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 0;
  color: var(--gold);
}
.lesson-likes {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 20%;
  flex-wrap: nowrap;
}
.lesson-likes p {
  font-size: 20px;
  margin: 0 10px 0 0;
}
.lesson-likes img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.full-lesson-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
  margin-top: 20px;
}
.full-lesson-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 50%;
  flex-wrap: nowrap;
  margin-top: 20px;
  border: solid 2px var(--black);
  border-radius: 15px;
  padding: 20px;
  min-height: 500px;
}
.full-lesson-text form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
}
.full-lesson-text form button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid var(--black);
  border-radius: 15px;
  margin: 20px;
  padding: 15px 80px;
  color: var(--black);
  text-align: center;
  font-size: var(--font-32);
  transition: all 0.3s ease;
}
.full-lesson-text form button:hover {
  background-color: var(--blue);
  color: var(--white);
}
.full-lesson-text form button img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}
.full-lesson-text h1 {
  font-size: 36px;
  margin: 0;
}
.full-lesson-text a {
  color: var(--gold);
  text-decoration: underline;
  font-size: 24px;
  text-align: center;
  align-self: center;
}
.file {
  align-self: flex-start !important;
  font-size: 36px;
  color: var(--gold);
  text-decoration: underline black solid 2px;
}
.full-lesson-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.full-lesson-author p {
  font-size: 20px;
  margin: 0;
}
.full-lesson-author span {
  color: var(--gold);
  font-size: 20px;
  margin: 0;
}
.lesson-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
  margin: 0;
  color: var(--gold);
  font-size: 24px;
}
.lesson-content span {
  color: var(--black);
  font-size: 20px;
  margin: 10px 0 0 0;
}
.add-lesson {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 20px;
  text-decoration: none;
  border: 2px solid var(--white);
  border-radius: 15px;
  margin: 0 auto;
  width: auto;
  padding: 20px 40px;
  color: var(--gold);
  background-color: var(--blue);
}
.lessons-container {
  width: 100%;
}
.lesson-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
table {
  border-collapse: collapse;
  border: 2px solid var(--black);
  width: 100%;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: var(--blue);
  color: var(--white);
  font-weight: 200;
  cursor: pointer;
}
th a {
  margin-left: 20px;
  color: var(--gold);
  text-decoration: none;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td:last-child {
  text-align: center;
}

td img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

td a {
  text-decoration: none;
  color: var(--gold);
}

td a:hover {
  text-decoration: underline;
}

select {
  background-color: white;
  color: black;
  padding: 4px;
  margin-left: 20px;
}

.create-lesson {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.create-lesson-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
  margin: 60px 0;
}
.create-lesson-container h1 {
  font-size: 36px;
  font-weight: 400;
}
.create-lesson-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
  flex-wrap: nowrap;
  padding: 20px;
  border: 2px solid var(--black);
}
.create-lesson-container form label {
  font-size: 24px;
  margin-bottom: 10px;
}
.create-lesson-container form input[type="text"],
.create-lesson-container form input[type="file"],
.create-lesson-container form textarea {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  height: 40px;
  border: 2px solid var(--grey);
  border-radius: 3px;
  margin-bottom: 20px;
}
.create-lesson form input[type="submit"] {
  justify-self: center;
  padding: 15px 80px;
  border-radius: 10px;
  border: 1px solid var(--black);
  background-color: var(--gold);
  color: var(--white);
  text-align: center;
  font-size: var(--font-32);
}
.create-lesson-container form input[type="date"] {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  height: 40px;
  border: 2px solid var(--grey);
  border-radius: 3px;
  margin-bottom: 20px;
}

.create-lesson-container form textarea {
  height: 200px;
  resize: none;
}
